*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
// ---------------------------------------------------

    .container{
   animation: shimmy 1s infinite;
   animation-direction: alternate;
    }



@keyframes shimmy {
    from { transform: translate3d(0, 0, 0)  scale(0.7);  }
    to   { transform: translate3d(0, 60px, 0) scale(0.7); }

  } 

  @media (min-width:500px){
    .container{
        animation: shimmy 1s infinite;
        animation-direction: alternate;
        margin: 0;
        
         }
    @keyframes shimmy {
        from { transform: translate3d(0, 0, 0)  scale(1);  }
        to   { transform: translate3d(0, 60px, 0) scale(1); }
    
      } 
  }