@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Katibeh&family=Lalezar&family=Markazi+Text:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Markazi Text', serif;
}
// ---------------------------------------------------
.info{ 
    display: block;      
    font-size:medium;
    font-weight: 700;
    text-align: center;
  }
  
    .container{
   animation: shimmy 1s infinite;
   animation-direction: alternate;

@keyframes shimmy {
    from { transform: translate3d(0, 0, 0)  scale(0.7);  }
    to   { transform: translate3d(0, 60px, 0) scale(0.7); }

  }
} 


button, button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Markazi Text', serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'اضغط هنا';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

// MEDIA QUERIES ----------------------------------------------------------------

@media (min-width:20px){
 
  .container{
    position: relative;
    top:-150px;
      animation: shimmy 1s infinite;
      animation-direction: alternate;
      margin: 0;
      
       }
  @keyframes shimmy {
      from { transform: translate3d(0, 0, 0)  scale(0.6);  }
      to   { transform: translate3d(0, 60px, 0) scale(0.6); }
  
    } 
    .info{
        margin-top: -12rem;
        padding: 1rem;
        font-size:small;
        font-weight: 700;
        align-self: center;
        text-align: center;
    }
    button{
      transform: scale(0.5);
    }
    .desk{
      display: none;
    }
}



  @media (min-width:600px){
    
    .container{
        position: relative;
        top:-100px;
          animation: shimmy 1s infinite;
          animation-direction: alternate;
          margin: 0;
          
           }
      @keyframes shimmy {
          from { transform: translate3d(0, 0, 0)  scale(1.2);  }
          to   { transform: translate3d(0, 60px, 0) scale(1.2); }
      
        } 
        .info{
            margin-top: 1rem;
            padding: 5rem;
            font-size:xx-large;
            font-weight: 700;
            align-self: center;
            text-align: center;
        }

        
  }


  @media (min-width:700px){
    
    .container{
        position: relative;
        top:-10px;
          animation: shimmy 1s infinite;
          animation-direction: alternate;
          margin: 0;
          
           }
      @keyframes shimmy {
          from { transform: translate3d(0, 0, 0)  scale(1.1);  }
          to   { transform: translate3d(0, 60px, 0) scale(1.1); }
      
        } 
        .info{
            margin-top: 1rem;
            padding: 5rem;
            font-size:x-large;
            font-weight: 700;
            align-self: center;
            text-align: center;
        }
        button{
          transform: scale(0.9);
        }
        
  }


  @media (min-width:1000px){
    
    .container{
        position: relative;
        top:-100px;
          animation: shimmy 1s infinite;
          animation-direction: alternate;
          margin: 0;
          
           }
      @keyframes shimmy {
          from { transform: translate3d(0, 0, 0)  scale(1.2);  }
          to   { transform: translate3d(0, 60px, 0) scale(1.2); }
      
        } 
        .info{
            margin-top: 1rem;
            padding: 5rem;
            font-size:xx-large;
            font-weight: 700;
            align-self: center;
            text-align: center;
        }
        button{
          transform: scale(1);
        }
  }

  @media (min-width:1025px){
    .container,
    .info,
    button{
      display: none;
    }
    body{
      background-color: rgba(255, 23, 23, 0.782);
    }
    .desk{
      display: inline-block;
    }
  }