@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Katibeh&family=Lalezar&family=Markazi+Text:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Markazi Text', serif;
}
// ---------------------------------------------------
.info{ 
    display: block;      
    font-size:medium;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
    position: absolute;
    top: -1rem;
    
  }
  
    .container{
   animation: shimmy 1s infinite;
   animation-direction: alternate;

@keyframes shimmy {
    from { transform: translate3d(0, 0, 0)  scale(0.7);  }
    to   { transform: translate3d(0, 60px, 0) scale(0.7); }

  }
} 

  @media (min-width:1037px){
      body{
          display: flex;
          flex-direction: row;
          height: 100vh;
          flex-wrap: wrap;
          justify-content: flex-start;
      }
    .container{
        animation: shimmy 1s infinite;
        animation-direction: alternate;
        margin: 0;
        
         }
    @keyframes shimmy {
        from { transform: translate3d(0, 0, 0)  scale(1);  }
        to   { transform: translate3d(0, 60px, 0) scale(1); }
    
      } 
      .info{
        margin-top:10rem;
          margin-left: 30rem;
          font-size:large;
          font-weight: 700;
          padding: 10rem;
          text-align: center;
      }
  }