@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Katibeh&family=Lalezar&family=Markazi+Text:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Markazi Text', serif;
}
// ---------------------------------------------------
.info{ 
    display: block;      
    font-size:medium;
    font-weight: 700;
   
    text-align: center;
  }
  
    .container{
   animation: shimmy 1s infinite;
   animation-direction: alternate;

@keyframes shimmy {
    from { transform: translate3d(0, 0, 0)  scale(0.7);  }
    to   { transform: translate3d(0, 60px, 0) scale(0.7); }

  }
} 



@media (min-width:320px){
 
  .container{
    position: relative;
    top:-150px;
      animation: shimmy 1s infinite;
      animation-direction: alternate;
      margin: 0;
      
       }
  @keyframes shimmy {
      from { transform: translate3d(0, 0, 0)  scale(0.6);  }
      to   { transform: translate3d(0, 60px, 0) scale(0.6); }
  
    } 
    .info{
        margin-top: -12rem;
        padding: 1rem;
        font-size:small;
        font-weight: 700;
        align-self: center;
        text-align: center;
    }
}












  @media (min-width:600px){
    
    .container{
        position: relative;
        top:-200px;
          animation: shimmy 1s infinite;
          animation-direction: alternate;
          margin: 0;
          
           }
      @keyframes shimmy {
          from { transform: translate3d(0, 0, 0)  scale(1);  }
          to   { transform: translate3d(0, 60px, 0) scale(1); }
      
        } 
        .info{
            margin-top: -12rem;
            padding: 5rem;
            font-size:large;
            font-weight: 700;
            align-self: center;
            text-align: center;
        }
  }


  @media (min-width:600px){
    
    .container{
        position: relative;
        top:-100px;
          animation: shimmy 1s infinite;
          animation-direction: alternate;
          margin: 0;
          
           }
      @keyframes shimmy {
          from { transform: translate3d(0, 0, 0)  scale(1.2);  }
          to   { transform: translate3d(0, 60px, 0) scale(1.2); }
      
        } 
        .info{
            margin-top: 1rem;
            padding: 5rem;
            font-size:xx-large;
            font-weight: 700;
            align-self: center;
            text-align: center;
        }
  }


