*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
// ---------------------------------------------------

    .container{
    background: url(/img/a2uuz.png) top center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
   animation: shimmy 1s infinite;
   animation-direction: alternate;
   margin-top: -150px;
    }



@keyframes shimmy {
    from { transform: translate3d(0, 0, 0)  scale(0.7);  }
    to   { transform: translate3d(0, 60px, 0) scale(0.7); }
    
  }


  .container-two{

    background: url(/img/a2uuz.png) top center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }